<div class="contactForm p-3">

<<<<<<< HEAD
=======

>>>>>>> e3684691cd0573c95f5502d24ad9ddbc2f0b969c
  <%= form_for @message do |f| %>

    <div class="contactForm-item">
      <h3>Message Aaron Directly</h3>
    </div>

    <div class="contactForm-item">
      <%= f.label :name %>:<br>
      <%= f.text_field  :name, required: true, class: "contact-form-text-area", placeholder: 'Your Name' %>
    </div>

    <div class="contactForm-item">
      <%= f.label :email %>:<br>
      <%= f.text_field :email, required: true, class: "contact-form-text-area", placeholder: 'your.email@example.com' %>
    </div>

    <div class="contactForm-item">
<<<<<<< HEAD
      <%= f.label :message %>:<br>
=======
      <%= f.label :message %><br>
>>>>>>> e3684691cd0573c95f5502d24ad9ddbc2f0b969c
      <%= f.text_area :message, required: true, class: "contact-form-text-area-message", placeholder: 'Send me a message'%>
    </div>

    <div class="contactForm-item d-none">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, :hint => '' %>
    </div>

    <div class="contactForm-item">
      <%= f.submit 'Send Message', class: 'btn btn-primary btnBat' %>
    </div>
  <% end %>
<<<<<<< HEAD
</div>
=======

</div>
>>>>>>> e3684691cd0573c95f5502d24ad9ddbc2f0b969c
