<%# <%= render "shared/coming_soon" %>

<div class="aboutMe p-3">
  <%# <%= image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', height: '200px', width: '150px' %>
  <%# <%= image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002' %>
  <%# <%= image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003' %>

  <div class="aboutMe-Title">
    <h2>Man, Myth, Legend</h2>
    <h4>some other tagline</h4>
    <hr>
  </div>


  <div class="aboutMe-Block bio-block">
    <div class="aboutMe-Block-Text">
      <h4>Me Biog</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
    <div class="aboutMe-Block-Picwrap">
      <%= image_tag 'mountain_aaron.png', class: 'aboutMe-Pic pic002', size: '300x150' %>
    </div>
  </div>


  <div class="aboutMe-Block bg-block">
    <div class="aboutMe-Block-Picwrap">
      <%= image_tag 'falcon_aaron.png', class: 'aboutMe-Pic pic003', size: '150x200' %>
    </div>
    <div class="aboutMe-Block-Text">
      <h4>Background</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
  </div>


  <div class="aboutMe-Block goals-block">
    <div class="aboutMe-Block-Text">
      <h4>Goals</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi, vel. Unde reprehenderit nemo eaque praesentium nulla provident dolor quos animi recusandae dolorem in enim, eveniet ipsa deserunt veritatis vel porro? Iusto, atque tempora officia deleniti harum facere corrupti quibusdam velit ipsum sed provident. Quia, quod laborum maxime dignissimos vero odit nisi sed debitis itaque iste reprehenderit praesentium! Iste, quis cupiditate.</p>
    </div>
    <div class="aboutMe-Block-Picwrap">
      <%= image_tag 'garden_aaron_cr.png', class: 'aboutMe-Pic pic001', size: '150x200' %>
    </div>
  </div>
  

  <%# <div class="aboutMe-item aboutMe-Biog">
    <h4> quick biog </h4>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem necessitatibus tenetur in ab, corporis dolor minima nulla accusantium doloribus enim itaque sequi ea! Quisquam cum voluptatum nihil amet explicabo sit recusandae dolore molestiae veritatis, hic deleniti aperiam excepturi incidunt cupiditate mollitia optio porro maiores corporis quod velit iusto fugit ratione?</p> 
  </div>

  <div class="aboutMe-item aboutMe-Goals">
    <h4> goals </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt iusto quia et neque error architecto corrupti eos nulla atque accusamus doloremque repudiandae maxime porro, voluptas minima ducimus ullam veniam tempora nostrum iure accusantium alias unde veritatis? Mollitia, laudantium officiis doloremque quidem quae maxime tempora, itaque necessitatibus neque possimus repellendus dolores?</p>
  </div> %>

  <%# <div class="aboutMe-item-container p-3">
    <div class="row">
      <div class="col-12 col-md-10">
        <div class="aboutMe-item text-wrap">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus dignissimos consequuntur quasi molestiae ut sed deleniti sequi atque? Expedita, dolore? Natus molestias sapiente ullam deserunt vero porro quas illo dolor ducimus mollitia adipisci inventore facere modi, nostrum ut doloribus ab dolores expedita nobis architecto repellendus est. Sed praesentium inventore ratione earum totam, perferendis alias dolores dolore fuga, modi nostrum nisi.
        </div>
      </div>
      <div class="col-12 col-md-2">
        <div class="aboutMe-item pic-wrap"></div>
      </div>
    </div>
  </div> %>

</div>
