<div class="shoutouts">
  <%# <h2>owe it all to</h2> %>

  <div class="shout-card lewag p-3">
    <div class="shout-title">
      <div class="row">
        <div class="title-image">
          <%= link_to 'https://www.lewagon.com/', target: 'blank' do %>
            <%= image_tag 'https://avatars.githubusercontent.com/u/5470001?s=64&v=4' %>
          <% end %>
        </div>

        <div class="title-name">
          <h2>Le Wagon</h2>
        </div>
      </div>

      <div class="row">
        <div class="title-tag mt-3">
          <h6>"Coding School bringing Technical Skills to Creative People"</h6>
        </div>
      </div>

    </div>

    <hr>

    <div class="shout-details">
      <ul class="shout-details-links p-0 m-0">
        <li class=link-item>
          <h6><a href="https://www.lewagon.com/" target="blank">www.lewagon.com</a></h6>
        </li>
        <li class="link-item">
          <h6><a href="https://github.com/lewagon" target="blank"><i class="fab fa-github"></i>  https://github.com/lewagon</a></h6>
        </li>
        <li class="link-item">
          <h6><a href="https://www.linkedin.com/school/le-wagon/" target="blank"><i class="fab fa-linkedin"></i> https://www.linkedin.com/school/le-wagon</a></h6>
        </li>
        <li class="link-item">
          <h6><a href="https://twitter.com/Lewagonparis" target="blank"><i class="fab fa-twitter"></i> @Lewagonparis</a></h6>
        </li>
        <li class="link-item">
          <h6><a href="mailto:contact@lewagon.com" target="blank">email: contact@lewagon.com</a></h6>
        </li>
      </ul>
    </div>
  </div>


  <div class="shout-card suze p-3">
    <div class="shout-title">
      <div class="row">

        <div class="title-image">
          <%= image_tag 'grad_suze.png', width: '64px', height: '64px' %>
        </div>


        <div class="title-name">
          <h2>Susannah Taylor</h2>
        </div>
      </div>
    </div>

    <hr>

    <div class="shout-details">
      <p class="m-0">
        &ensp;It would be remiss of me not to mention my partner whose unwavering support and confidence in my passions has allowed me to pursue and undertake this epic journey into the world of development.<br>
        <br>
        Much Love xx
      </p>
    </div>


  </div>

  <div class="shout-card additional p-3">
    <div class="shout-title">
      <div class="row">
        <div class="title-name">
          <h2>Additional Credits</h2>
        </div>
      </div>
    </div>

    <hr>

    <div class="shout-details">
      <ul class="shout-details-links p-0 m-0">
        <li class=link-item>
          <h6>
            homepage title animation - <%= link_to 'https://github.com/mattboldt/typed.js', 'https://github.com/mattboldt/typed.js', target: 'blank' %>
          </h6>
        </li>
        <li class="link-item">
          <h6>
            additional soundFX - <%= link_to 'https://www.zapsplat.com', 'https://www.zapsplat.com', target: 'blank' %>
          </h6>
        </li>

      </ul>
    </div>


  </div>

</div>